.App { text-align: center; }
.title-wrapper{ 
  text-align: left; 
  font-size: 22px;
}
#title{ margin-left: 30px; }
.title, .divider, .author, .frame{
  display: inline-block;
  color: aliceblue;
  vertical-align: middle;
  margin-right: 12px;
}
.frame {
  width: 40px;
  height: 40px;
  border: 3px solid rgb(81, 180, 245);
  border-radius: 50%;
  background: #eee;
  margin: auto;
}
.prof {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: crosshair;
}

#nav-menu{
  display: flex;
  flex-direction: column;
}
ul, li{
  list-style-type: none;
  width: 150px;
  text-align: start;
  cursor: pointer;
}
.cv{
  cursor: crosshair;
  box-shadow: 2px 2px 8px 0 rgba(56, 56, 56, 0.699);
}
#Return{
  margin: 22px;
  color: rgb(7,67,114);
}
#Return > i {
  margin-right: 10px
}
#Return:hover{
  text-decoration: underline;
}
/*** Battle Section ***/
#main-battle{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.canvas-container{
  display: flex;
  flex-direction: row;
}
.player-resource-container{
  margin: 0 25px;
}

.fas{
  color: rgb(7,67,114);
}