html{
  font-size: 18px;
}
body {
  background-image: linear-gradient(45deg, rgb(109, 182, 238) 45%, #77c3ec 45%, rgb(104, 172, 224) 50%, rgb(128, 175, 211) 50%, rgb(117, 191, 247) 95%, rgb(126, 170, 204) 95%, rgb(76, 156, 226) 100%);
  background-size: 12px 12px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
