html{
  font-size: 18px;
}
body {
  background-image: linear-gradient(45deg, rgb(133, 196, 245) 66%, #16506f 35%, rgb(134, 182, 221) 58%, rgb(106, 167, 214) 58%, rgb(163, 206, 240) 75%, rgb(158, 204, 240) 95%, rgb(131, 189, 240) 100%);
  background-size: 12px 12px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
